$fuente-grande: 1.5em;
$texto-centrado: center;
$color-bayer: rgb(94, 187, 98);
$color-syngenta: rgb(62, 63, 138);
$color-donmario: rgb(197, 71, 71);



/*MAPAS*/

$colores: (
    col1: aliceblue,
    col2: white,
    col3: antiquewhite,
    col4: aqua,

);

$proporcion: (
    header: 50vh,
    footer: 10vh,

);

$tamañofuente: (
    normal: 1em,
    navegacion: 2rem,
    mediano: 1.5em,

);

$bordesgrosor: (
    pequeño: 2px,
    mediano: 5px,
    grande: 10px,


);




